:host {
    display: block;
    height: 100vh; /* Full viewport height */
    background-image: url('/assets/img/landing.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  